body {
  font-family: "Courier New", Courier, monospace;
  background: whitesmoke;
  color: rgb(45, 38, 38);
}

.work-title {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: -28px;
  margin-left: 50px;
}
.creator {
  font-size: 68px;
  font-weight: 900;
}
.home-section {
  padding-top: 60px;
}
.active {
  font-weight: 600;
}

.img-fluid {
  width: 60%;
  padding-top: 40px;
  margin-left: 50px;
}
.projects-headline {
  text-align: center;
  font-size: 48px;
}
footer {
  margin: 100px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: rgb(234, 9, 28);
}
footer .social-links a {
  margin: 0 20px;
  color: rgb(28, 28, 154);
  background: rgb(142, 211, 218);
  padding: 7px 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: rgb(142, 211, 218);
  background: rgb(28, 28, 154);
}

@media (max-width: 600px) {
  .work-title {
    margin-bottom: 8px;
    margin-left: 5px;
  }

  .home-section {
    text-align: left;
  }
  .creator {
    font-size: 38px;
    text-align: justify;
  }
}
